<h1>À propos de nous</h1>
<p>Nous sommes une équipe passionnée, dédiée à offrir le meilleur service...</p>

<!-- Conteneur des cartes -->
<div class="container mt-4">
  <div class="row">
    <!-- Première carte -->
    <div class="col-md-4">
      <div class="card">
       <%= image_tag 'Capture d’écran 2024-11-28 205529.png', class: 'card-img-top', alt: 'Photo de l\'équipe 1' %>
        <div class="card-body">
          <h5 class="card-title">Zaineb</h5>
          <p class="card-text">Une brève description de la personne ou de l'activité. Elle est passionnée par...</p>
        </div>
      </div>
    </div>

    <!-- Deuxième carte -->
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'Capture d’écran 2024-11-28 205549.png', class: 'card-img-top', alt: 'Photo de l\'équipe 2' %>
        <div class="card-body">
          <h5 class="card-title">Nora</h5>
          <p class="card-text">Une brève description de la personne ou de l'activité. Elle est spécialisée dans...</p>
        </div>
      </div>
    </div>

    <!-- Troisième carte -->
    <div class="col-md-4">
      <div class="card">
       <%= image_tag 'Capture d’écran 2024-11-28 205608.png', class: 'card-img-top', alt: 'Photo de l\'équipe 2' %>
        <div class="card-body">
          <h5 class="card-title">Stephan</h5>
          <p class="card-text">Une brève description de la personne ou de l'activité. Il aime travailler sur...</p>
        </div>
      </div>
    </div>
  </div>
</div>