.text-center{
    font-size: 32px;
    text-align: center;
    padding-top: -30px;
    margin-top: -30px;
    padding-bottom: 1px;
    margin-bottom: 1px;

}
/* Rétrécir la largeur du carrousel */
#carouselExample {
    max-width: 90%; /* Réduit la largeur du carrousel à 80% de la largeur du conteneur parent */
    margin: 0 auto; /* Centre le carrousel horizontalement */
    padding-bottom: 10px; /* Ajoute un peu d'espace au-dessus du carrousel */
    padding-bottom: 25px;
}

/* Ajuster la taille des images à l'intérieur du carrousel */
#carouselExample .carousel-item img {
    width: 100%; /* Assure que l'image prend toute la largeur du carrousel */
    max-height: 500px; /* Limite la hauteur de l'image */
    object-fit: cover; /* Assure que l'image remplit le carrousel sans déformer */
    border-radius: 8px; /* Ajoute des coins arrondis pour un meilleur visuel */

}
/* Changer la couleur du titre (h5) dans le carrousel */
#carouselExample .carousel-caption h5 {
    color: orange; /* Exemple: Rouge tomate, vous pouvez changer cette couleur */
}

/* Changer la couleur de la description dans le carrousel */
#carouselExample .carousel-caption p {
    color: #56B280; /* Exemple: Bleu acier */
}

/* Changer la couleur du prix dans le carrousel */
#carouselExample .carousel-caption .price {
    color: #56B280; /* Exemple: Vert lime pour le prix */
}

/* Assurer que le texte soit lisible sur des images */
#carouselExample .carousel-caption {
    background-color: rgba(27, 27, 27, 0.5); /* Fond sombre pour améliorer la lisibilité */
}
