<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="show.css">
    <title>Card</title>
</head>
<body>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Items" %>

<div class="header">
  <h1>Items</h1>
</div>

<div id="items-container">
  <div id="items">
    <% @items.each do |item| %>
      <div class="item">
        <%= render item %>
        <p>
          <%= link_to "Show this item", item %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<div class="new-item-link">
  <%= link_to "New item", new_item_path %>
</div>
