<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Footer</title>
</head>
<body>

<div class="footer">
    <div class="logo-footer">
        <img src="images/logochat.png" alt="logo" class="logo-footer">
        <h1>Chatographe</h1>
    </div>
    
    <div class="footer-column">
            <h3>Discovery</h3>
            <ul>
                <li><a href="#">Editions limitées</a></li>
                <li><a href="#">Produits favoris</a></li>
                <li><a href="#">Catégories</a></li>
                <li><a href="#">Promotions</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>About</h3>
            <ul>
                <li><a href="#">Produits</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Info</h3>
            <ul>
                <li><a href="#">Chatographe@gmail.com</a></li>
                <li><a href="#">01 23 45 56 78</a></li>
                <li><a href="#">Contatez-nous</a></li>
            </ul>
        </div>
        
        <div class="footer-copyright">
            <p class="left">© 2024 Chatographe. Tous droits réservés.</p>
            <p class="right">Designed by Zaineb, Steph, Shirley et Nora</p>
        </div>
</div>
</body>
</html>